<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../static/css/index.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	</head>

	<title>DrinkDB</title>

	<body>
		<header>
			<div class="center-container">
				<div class="navbar-top left">
					Icon Here
					<a class="navbar-button" href="index.html">Find a Drink</a>
					<a class="navbar-button" href="index.html">About</a>
					<a class="navbar-button" href="index.html">Contact Us</a>
				</div>

				<div class="navbar-top right">
					<a href="https://www.github.com/Museus/DrinkDB/">Github Repo</a>
				</div>
			</div>

		</header>

		<div class="app-container">
			<div class="center-container">
				<h1>What Can I Make?</h1>

				<div id="specific-search">
					Looking for something specific?
					<input type="text" placeholder="Enter the drink name here...">
				</div>

				<div id="filter-search">
					<div id="filter-search-heading">
						Need a Recommendation?
					</div>
					<div id="ingredients-include">
						Which ingredients should we use?
						<div class="Select react-select">
						</div>
					</div>

					<div id="ingredients-avoid">
						Which ingredients should we avoid?
						<div class="Select react-select">
						</div>
					</div>

					<input type="button" value="Search" id="filter-search-button">
				</div>
			</div>
		</div>

		<div class="center-container else-container">
			<h1> What is the purpose of this site? </h1>

			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>

	</body>
</html>
